:root {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: #354657;
    font-weight: 700;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1.2rem;
    margin-top: 1rem;
}

/*wrap card*/
.wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2rem;
    margin-top: 4rem;
}

.card {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__img img {
    width: 100%;
}

.card__title {
    font-size: 2rem;
}

.card__description {
    font-weight: 400;
    font-size: 1.2rem;
}

.card__btn > input {
    width: 50%;
    padding: 1.5rem 0;
    border-radius: 50px;
    background: white;
    border: 1px solid #946FD3;
    color: #946FD3;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all .7s;
    cursor: pointer;
}

.card:hover input{
  color: white;
  background: #946FD3;
  border-color: white;
} 

/*contacts*/
.contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 400px ;
    border: 1px solid black;
    gap: 0 1.5rem;
}

.contacts > div:nth-of-type(1){
   background: #F0F2F5;
} 
.contacts > :last-child{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px){
    :root{
        font-size: 15px;
    }
    .wrap{
        grid-template-columns: 1fr;
        gap:0;
    }  

    .card__title, .card__description, .card, .wrap{
        margin: 1rem 0;
    }
    .card__btn > input{
        width: 100%;
    }
    .contacts {
        grid-template-columns: 1fr;

    }
}

