body{
 width: 1480px;
    height: 1240px;
    
}
.ramda_uu{
      width: 90%;
        margin: 0px auto;
}
.h1{
    font-size: 50px;
}
h1 > a:hover{
    color: aqua;
}
h1 > a{
    text-decoration: none;
color: black;
}
.fon_header{
    width: 1280px;
    height: 72px;
    border: 1px solid black;
    background-color: rgba(53, 68, 79, 1);
    display: flex;
}
.ul_header{

display: flex;
    color: aliceblue;
    align-items: center;
    width: 1283px;
    justify-content: space-around;
}
.header_li{
    list-style-type: none;
    font-size: 22px;
    height: 72px;
    display: flex;
    align-items: center;
}
.header_li:hover{
    background: rgba(34, 47, 58, 1);
 border-left: 1px solid black ;
 border-right: 1px solid black ;
height: 72px;
}
/* шапка*/
/* Разобраться с этим*/
section{
    margin-top: 4rem;
    display: flex;
}
.menu{
    width: 344px;
    height: 405px;
    border: 1px solid black;
   
   
    
}
.ul{
    width: 344px;
    padding: 0px;
        margin-top: 0rem;
}
.menu_li{
    height: 81px;
        list-style-type: none;
        font-size: 30px;
    
        padding: 27px;
        box-sizing: border-box;
    }
   

.menu_li:hover{
    background: #DBDBDB;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    
    
}
/* Разобраться с этим*/
.img_menu{
    border: 1px solid black;
    width: 885px;
    height: 529px;
    margin-left: 3rem;
   
    }
.sect_text_img{
    display: flex;
    flex-direction: column;
}
section > div > p
{
    font-size: 18px;
    text-align: end;
    width: 815px;
    height: 114px;
    text-align: justify;
     margin: 40px auto;
}
footer {
    width: 1280px;
    height: 69px;
    background: #B4B7BA;

}
footer > ul  {
    display: flex;
    list-style-type: none;
    height: 69px;
    width: 809px;
    justify-content: space-between;
        align-items: center;
        font-size: 20px;

}
.footer_li_one{
    margin: -65px 50px;
        display: flex;
        font-size: 20px;
        flex-direction: row;
        justify-content: flex-end;
}
.footer_li:hover{
    color: aqua;
    text-decoration: underline;
}