:root{
    font-size: 20px;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.modal-bg{
    background-color: #906ED399;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #354657;
    font-weight: 700;
}

.modal{
    width: 792px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    overflow:  hidden;
}

.modal > div:first-of-type{
    width: 35%;
}
.modal > div:first-of-type img{
    width: 100%;
}

.modal > div:last-of-type{
   width: 65%;
}

.modal-title{
    font-size: 1.5rem;
  
}

.modal-subtitle{
    font-size: .8rem;
    color: #946FD3;
    text-transform: uppercase;
}

form input {
    width: 80%;
    padding: .55rem 1rem;
    box-sizing: border-box;
}

form input[type="button"]{
    border-radius: 50px;
    background-color: #946FD3;
    border: 1px solid transparent;
    color: white;
    font-size: .8rem;
    transition: all .7s;
}

form input[type="button"]:hover{
    background-color: white;
    color: #946FD3;
    border: 1px solid #946FD3;
}

form label {
    font-weight: 400;
    font-size: .7rem;
    display: block;

}