body{
   max-width: 60%;
    
        margin: 0px auto;
}
/* Шапка сайта */
.head{
    width: 750px;
    height: 230px;
    background-color: rgba(45, 112, 83, 1);
    
}
.circle{
    background-color: white;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    margin: 27px;
    display: inline-block;
    
}
.header_text{
    margin: 20px;
    font-size: 30px;
    color: white;
    
   
}
.bur{
    width: 87px;
    height: 15px;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
    
}
.con
{
    display: flex;
}
.burger{
    margin: 60px 0px 40px 219px;
}
/* Шапка сайта */
/* фон в центре */
.img_fon{
    height: 470px;
    width: 750px;
  background-image: url(./Без\ названия.png);
}
.btp{
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    text-align: center;
    display: inline-block;
    margin: 369px 0px 0px 205px;
    
     
}
.btp_text{
   text-decoration: none;
   color: white;
   padding: 28px;
   display: inline-block;
 font-size: 25px;
}
/* фон в центре*/
/* заполнения центра */

.sect2{
display: flex;
margin: 43px;
}

.img_circle{
    width: 255px;
    height: 276px;
    border-radius: 50%;
    
}
.sect-text{
   margin: 66px 20px 20px 141px;
}

.sect-text2{
    font-size: 20px;
    width: 509px;
    height: 166px;
    margin-left: 43px;
}
.sect-text3{
    margin-left: 43px;
}
ul{
    list-style: none;
    font-size: 20px;
}
.btp2{
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    font-size: 30px;
    text-align: center;
   
    margin: 0px 20px 20px 205px;
}
.a{
    text-decoration: none;
    color: beige;
justify-content: space-around;
    padding-top: 18px;
        display: flex;
       
    
}
footer{
    width: 750px;
    height: 156px;
    background-color: rgba(136, 136, 136, 1);
    display: flex;
    justify-content: space-between;
}
.footer_circle{
    background-color: beige;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    margin: 35px;
}
.tel{
    color: rgb(255, 249, 249);
    
}
.mail{
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
}
.ss{
        display: flex;
flex-direction: column-reverse;
    margin: 20px;
}
.map{
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 20px 110px;
    color: rgb(255, 255, 255);
}