html{
  margin: 0%;
    background-image: url(../img/fon.jpg);
background-size: cover;

}


/* Фон */
/* Шапка */
header{
        display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
           margin-top: -3rem;
}

.header_milan-text{
    color: azure;
    display: inline-block;
     
}
.lock{
    background-image: url(../img/photo_замок\ ховер.jpg);
    width: 46px;
    height: 44px;
    background-repeat: no-repeat;
    display: inline-block;
}
.header_right{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        

}
.header_milan-text > b{
    font-size: 28px;
}

.header_left{
    margin-top: 4rem;
    font-size: 18px;
}   
.header_right > a{
    color: azure;
    text-decoration: none;
    font-size: 18px;
    display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 1rem;
}
.header_milan-text{
    margin-left: 1rem;
}
.header_left:hover .lock {
    background-image: url(../img/photo_замок.jpg);
    
}

    
.header_left:hover .header_milan-text{
    color: #F26522
}
/* Шапка */
/* Контект */
main{
    display: inline-block;
       margin-top: 0.4rem;
        float: right;
       width: 87%;

}
.card-1 {
    border: 1px solid wheat;
    width: 307px;
    height: 200px;
    display: inline-block; 
      background-image: url(../img/photo_1.jpg);
    margin: 1rem;
    overflow: hidden;
}
.card-2 {
    border: 1px solid wheat;
    width: 307px;
    height: 200px;
    display: inline-block;
    background-image: url(../img/photo_2.jpg);
margin: 1rem;
}
.card-3 {
    border: 1px solid wheat;
    width: 307px;
    height: 200px;
    display: inline-block;
    background-image: url(../img/photo_3.jpg);
margin: 1rem;
}
.card-4 {
    border: 1px solid wheat;
    width: 307px;
    height: 200px;
    display: inline-block;
    background-image: url(../img/photo_4.jpg);
margin: 1rem;
}
.card-5 {
    border: 1px solid wheat;
    width: 307px;
    height: 200px;
    display: inline-block;
    background-image: url(../img/photo_5.jpg);
margin: 1rem;
}
.card-6  {
    border: 1px solid wheat;
    width: 307px;
    height: 200px;
    
    background-image: url(../img/photo_6.jpg);
margin: 1rem;
}
.card{/* размещение блоков */
display: inline-block;

}
.card-text{ /* текст под картинкой*/
    text-align: center;
    color: aliceblue;
}
/* hover */
.back-hover{
    background: #F26522;
    width:307px;
    height: 62px;
    position: absolute;
   display: flex;
   display: none;
        
    }
     
.card:hover   .back-hover{
     top: 14.9rem;
     right: 53.6rem;
     display: block;
    
}
.card:hover .card-text{
    color: #F26522;
}

.card:nth-child(2):hover .back-hover{
    top: 14.9rem;
        right: 32.07rem;
        display: block;
}
.card:nth-child(3):hover .back-hover {
    top: 14.9rem;
    right: 10.5rem;
    display: block;
}  
.card:nth-child(4):hover .back-hover {
    top: 30.9rem;
    right: 53.6rem;
    display: block;
}
.card:nth-child(5):hover .back-hover {
    top: 30.9rem;
    right: 32.07rem;
    display: block;
}
.card:nth-child(6):hover .back-hover {
    top: 31.1rem;
    right: 10.5rem;
    display: block;
}
/* hover */

/* контент */
footer{
    color: aliceblue;
    text-align: center;
    display: inline-block;
   
    width: 100%;
   
}