body {
background-image: url(../Фото/background.jpg);
background-repeat: no-repeat;
background-size: cover;
margin: 0%;
}

.glavniy {
width: 1366px;
height: 1000px;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 4rem;
}

.header_img {
display: inline-block;
background-image: url(../Фото/photo_2022-06-09_21-34-37.jpg);
width: 46px;
height: 44px;

}
.header_text_left {
display: inline-block;
font-size: 25px;
color: white;
}

.text_right {
font-size: 18px;
color: white;
display: flex;
flex-direction: column;
text-decoration: none;}

.text_right div a  {
    text-decoration: none;
    color: white;
}

.header_tel {
padding-left: 70px;
}

.header_left {
width: 40%

}

.header_left:hover .header_img {
background-image: url(../Фото/img\ hover\ .jpg);
}

.header_left:hover .header_text_left {
color: chocolate;
}

.conreiner {
width: 87%;
height: 85%;
margin-top: 4rem;
margin-right: 94px;
float: right;
}

.card {
display: inline-block;
width: 27%; 
height: 39%;
margin-left: 25px;
padding-top: 40px;
padding-left: 30px;
background-repeat: no-repeat;
background-size: cover;
}

.card1_img{
border: 1px solid wheat;
width: 314px;
height: 214px;
background-image: url(../Фото/1.jpg);
background-size: cover;
}

.card2_img{
border: 1px solid wheat;
width: 314px;
height: 214px;
background-image: url(../Фото/2.jpg);
background-size: cover;
}

.card3_img{
border: 1px solid wheat;
width: 314px;
height: 214px;
background-image: url(../Фото/3.jpg);
background-size: cover;
}

.card4_img{
border: 1px solid wheat;
width: 314px;
height: 214px;
background-image: url(../Фото/4.jpg);
background-size: cover;
}

.card5_img{
border: 1px solid wheat;
width: 314px;
height: 214px;    
background-image: url(../Фото/5.jpg);
background-size: cover;

}

.card6_img{
border: 1px solid wheat;
width: 314px;
height: 214px;
background-image: url(../Фото/6.jpg);
background-size: cover;
}

.card_text {
font-size: 18px;
color: white;
text-align: center;
padding-top: 20px;

}

.hover_advertsing {
background-color: chocolate;
display: none;
color: white;
margin-top: 151px;


}

.card:hover .hover_advertsing {
display: block;
width: 314px;
height: 63px;
}

.card:hover .card_text {
color: chocolate;
}

.hover_text {
font-size: 10px;
position: absolute;
margin-top: 16px;
margin-left: 21px;

}

.hover_text2 {
font-size: 20px;
display: inline-block;
position: absolute;
margin-top: 26px;
margin-left: 21px;
}

.hover_text3 {
font-size: 14px;
display: inline-block;
position: absolute;
margin-top: 30px;
margin-left: 200px;

}

footer {
font-size: 12px;
color: white;
text-align: center;



}



