.glavniy {
    margin: 0 auto;
    width: 753px;
    
}


.header {
background-color: rgba(45, 112, 83, 1) ;
width: 753px;
height: 237px;
margin: 0 auto; 

}

.circle {
width: 144px;
height: 144px;
border-radius: 50%;
background-color: rgb(253, 253, 253);
display: inline-block;
margin-top: 41px;
margin-left: 43px;
}

.text {
    font-size: 30px;
    color: white;
    display: inline-block;
    width: 134px;
    height: 131px;
    margin-top: 53px;
    margin-left: 57px;
    font-weight: 30px;
}

.menu {
    width: 87px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    margin: 10px;
    border-radius: 25%;
}

.rec {
    display: inline-block;
    margin-left: 219px;
    margin-bottom: 20px
}


.fon {
    background-image: url(../img/photo_2022-05-29_14-52-50.jpg);
    width: 753px;
    height: 470px;
    margin: 0 auto;
}

.card__btn {
    background-color: rgba(203, 146, 35, 1);
    text-decoration: none;
    display: inline-block;
    margin: 364px 8px 1px 229px;
    padding: 30px 46px 30px 46px;
    color: aliceblue;
}

.conteiner2 {
 display: flex;
 align-items: center;

}

.imgg {
margin-top: 8%;
margin-left: 21px;
display: inline-block


}

img {
display: inline-block;
width: 255px;
border-radius: 50%;

}

.contex {
display: inline-block;
margin-left: 62px

}

.text1_c2 {
    font-size: 36px;
    width: 52%;
    display: inline-block;
    
}

.text2_c2 {
    font-size: 24px;
    display: inline-block;
    width: 60%
}

.conteiner3 {
font-size: 24px;
margin-left: 44px;
margin-top: 44px;

}

.conteiner4 {
    margin-left: 44px;
    padding-top: 26px;
}

.prichiny {
    font-size: 36px;
}

.prichiny_1 {
    font-size: 24px;
}

.card__btn2 {
background-color: rgba(203, 146, 35, 1);
text-decoration: none;
display: inline-block;
margin: 15px 8px 1px 229px;
padding: 30px 46px 30px 46px;
color: aliceblue;
} 

.footer {
background-color: rgba(136, 136, 136, 1);
width: 752px;
height: 156px;
margin: 47px auto;
display: flex;
flex-direction: row;
justify-content: space-around;


}

.circle2 {
width: 99px;
height: 99px;
border-radius: 50%;
background-color: rgb(253, 253, 253);
display: inline-block;
margin-top: 2rem;

}

.adres {
font-size: 18px;
color: #FFFFFF;
margin-top: 7rem;
}

.gmail {
font-size: 18px;
color:#FFFFFF;
text-decoration: none;


}
.telefon {
 margin-top: 2rem;
 color:#FFFFFF;
 text-decoration: none;
 
}
.info {
 margin-top: 4rem;
 
}

.e_mail {
margin-top: 25px;

}


