body {
    font-family: 'Raleway', sans-serif;
}
.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E2E2E2;
    padding-bottom: 18px;
    color: #354657;
    font-size: 30px;
    font-weight: 700;

}

.card {
    width: 30%;
    display: inline-block;
}
.card2 {
    margin-left: 4%;
    margin-right: 4%;
}

.card__img {
    width: 100%;
} 
.discription {
    color: #354657;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif; 
}
.card__title {
    color: #354657;
    font-size: 23px;
    font-weight: 700; 
}
.card__btn {
    border: 2px solid #946FD3;
    width: 206px;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    margin-top: 58px;
    text-decoration: none;
    color: #946FD3;
}

.c {
    display: inline-block;
}

.conteiner2 {
    width: 50%;
    padding-top: 128px;
    padding-left: 60px;
    }

.c {
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;    
}

.text {
    height: 18px;
    left: 71px;
    top: 198px;
    width: 163px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 12px;
    padding-left: 29px; 
}

.t {
    font-family: 'Roboto', sans-serif;
    height: 18px;
    top: 198px;
    left: 71px; 
    font-weight: 400;
    font-size: 15px;
    padding: 14px;
    padding-top: 18px;
}
.img3 {
    padding-left: 29px; 
}    

