

body {
margin: 0 auto;
width: 80%;

}

header {
display: flex;
flex-direction: row;
align-items: center;

    
}


.header_logo {



}
.header_logo img {
width: 77px;
height: 77px;

}

.button1 {
background-color: #FE7D34;
border-color: #FE7D34;
color: white;
width:98px;
height:50px;
border-radius: 15%;


}

.button2 {
background-color: #00D008;
border-color: #00D008;
color: white;
width:98px;
height:50px;
border-radius: 15%;
margin-left: 30px;

}
.input1 {
margin-right:120px;
margin-left:120px;
padding: 10px;
font-size: 16px;
color: #A1A1A1;
}

.borber_bottom {
border-bottom: solid #C4C4C4;

height: 1px;
margin-top: 10px;
}

.card1 {
display: flex;
justify-content: center;
margin-top: 30px;
height: 380px;
background-color: #FFD086;

}  

.card1_img img {
    width: 542px;
    height: 340.21px;


}
.card1_text_top {
font-size: 36px;
padding-top: 6rem;
}

.card1_text_bottom {
font-size: 20px;
padding-top: 30px;
}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    
}

.rest {
font-size: 36px;

}

.input2 {
font-size: 16px;
color: #A1A1A1;
padding: 10px;

}

.conteiner_rest {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows:1fr 1fr 1fr ;
box-sizing: border-box
}

.cart1 {
background-image: url(../img/Карточки/1.svg);
width: 100%;
height: 100%;


}

.cart2 {
background-image: url(../img/Карточки/2.svg);  
width: 100%;
height: 100%;

}

.cart3 {
background-image: url(../img/Карточки/3.svg); 
width: 100%;
height: 100%; 

}

.cart4 {
background-image: url(../img/Карточки/4.svg);
width: 386px;
height: 230px;
}

.cart5 {
background-image: url(../img/Карточки/5.svg);
width: 386px;
height: 230px;
}

.cart6 {
background-image: url(../img/Карточки/6.svg);
width: 386px;
height: 230px;
}

.cart7 {
background-image: url(../img/Карточки/7.svg); 
width: 386px;
height: 230px;
}

.cart8 {
background-image: url(../img/Карточки/8.svg);
width: 386px;
height: 230px;
}

.cart9 {
background-image: url(../img/Карточки/9.svg);
width: 386px;
height: 230px;
}

.cart10 {
background-image: url(../img/Карточки/10.svg);
width: 386px;
height: 230px;
}

.cart11 {
background-image: url(../img/Карточки/11.svg);
width: 386px;
height: 230px;
}

.cart12 {
background-image: url(../img/Карточки/12.svg);
width: 386px;
height: 230px;
}

.cart13 {
background-image: url(../img/Карточки/13.svg);
width: 386px;
height: 230px;
}



