.glavnu {
    margin: 0 auto;
    width: 1100px;
} 

.conteiner1 {
    margin-bottom: 24px;



}
.part1 {
font-size: 80px;
white: 1100px;
height: 74px;
}

.part1_1 {
    font-size: 80px;
    white: 1100px;
    height: 74px;
}

.part1_1:hover {
color: #4BCAFF;
}


.conteiner2 {

height: 72px;
margin-bottom: 80px;
background-color: #35444F;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.con2tex {
font-size: 21px;
color: beige;
display: inline-block;
padding-top: 21px;
text-decoration: none;
}

.con2tex:hover {
background-color: #222F3A;
}

.conteiner3{
    display: flex;
  
}

.con3part1 {
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px;
    border-style: solid;
    border-color: #35444F;
    text-decoration: none;
    

      
}


.con3tex {
    font-size: 30px;
    color: #495863;
    max-width: 342px;
    height: 81px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding-left: 35px;
    padding-top: 20px;
 
}

.con3tex:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 70px;
    
    

}

.href {
    text-decoration: none;
    color: #495863;
 
}

.href:hover {
    background-color: #DBDBDB;
    color: black;
    
}

.con3part2 {
width: 915px;
height: 503px;
margin-left: 56px;
border: 1px;
border-style: solid;
border-color: #35444F;

}

.foto {
margin-left: 256px;
padding-top: 66px

}

.conteiner4 {
margin-top: 41px;
margin-left: 379px;

}

.con4tex {
font-size: 18px;
color: #495863;
}

.con4tex2 {
font-size: 18px;
color: #495863;
margin-top: 25px;

}

.conteiner5 {
height: 72px;
background-color: #B4B7BA;
display:flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 47px;


}

.con5tex {
font-size: 28px;
color: black;
display: inline-block;
padding-top: 21px;
text-decoration: none;


}

.con5tex:hover {
color: #2d92e6;
}