.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40%;
    border: 1px solid black;
}


.nav__items > a{
    text-decoration: none;
    color: #abb1b7;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    transition: all .7s;
}

.nav__items:nth-child(3) > a{
    cursor: help;
}

.nav__items:hover > a {
    background-color: #dadadb;
    color: black;
    padding-left: 3rem;
}

div{
    width: 100px;
    height: 100px;
    background-color: black;
}